<!DOCTYPE html>
<html>
<head>
    <title>你的秘密</title>
    <style>
        body { text-align: center; font-family: sans-serif; padding-top: 50px; background-color: #222; color: white; }
        .box { border: 2px dashed red; padding: 20px; display: inline-block; margin-top: 20px; }
    </style>
</head>
<body>
    <h1>🔥 這是你的秘密訊息：</h1>
    
    <div class="box">
        <h2 style="color: #0f0;">{{ content }}</h2>
    </div>

    <p style="margin-top: 50px; color: #aaa;">此訊息已從伺服器永久刪除。</p>
</body>
</html>